.App {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: linear-gradient(rgba(31, 60, 224, 0.7), rgba(223, 17, 17, 0.7));
}

